<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254871228994-ibj8ikjiu8fdu9mb04rh8649ur3u4g3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254871228994-ibj8ikjiu8fdu9mb04rh8649ur3u4g3o</string>
	<key>API_KEY</key>
	<string>AIzaSyDDZwsPU4qdhQtGY3_zSHlWuE48QQNetGY</string>
	<key>GCM_SENDER_ID</key>
	<string>254871228994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abewea.graveapps</string>
	<key>PROJECT_ID</key>
	<string>e-grave</string>
	<key>STORAGE_BUCKET</key>
	<string>e-grave.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254871228994:ios:2b1029b1217432d84313db</string>
</dict>
</plist>